* {
    margin:0;
}

html {
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  
}

body {
    padding:5px;
}

#my_dataviz {
    display:flex;
    flex-direction: column;
    align-items: right;
}

.graphs {
    border:1px solid black;
    display:flex;
    flex-direction: column;
    
}

@media only screen and (min-width: 950px){
    .graphs {
        flex-direction: row;
    }

    
}
